/* QUESTIONAIRE */
.radioOption{
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1rem;
}

.questions-question{
  font-size: 1.2rem;
}

.questions-radiobuttons{
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.questions-btn{
  background: #fff;
  width: 6rem;
  color: #000;
  border: 1px solid #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.25em 0.5em;
}



/* GENERAL SETTINGS */
body{
  box-sizing: border-box;
}

body{
  background: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.mainContainer{
  width: 99vw;
  height: 98vh;
}

/* Overview */
.mainProgress{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5rem;
  width: auto;
}

.progressRemaining{
  height: 100%;
  width: 57%;
  background: mediumseagreen;
  text-align: end;
  line-height: 5rem;
  font-size: 2rem;
  padding-right: 0.5rem;
}

.progressElapsed{
  height: 100%;
  width: 42%;
  background: magenta;
  text-align: start;
  line-height: 5rem;
  font-size: 2rem;
  padding-left: 0.5rem;
}

.mainStats{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #fff;
  height: 2rem;
  width: auto;
}

.mainVisualization{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  flex-wrap: wrap;
}

.day{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.7rem;
  border: 1px solid #fff;
  height: 1.5rem;
  width: 1.5rem;
  margin: 3px;
  background: #333;
  font-size: 0.7rem;
  cursor: pointer;
}

.today{
  background: red;
}

.hasEntry{
  border: 2px solid red;
}

.monthLabel{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.7rem;
  border: 1px solid #fff;
  height: 1.5rem;
  width: 1.5rem;
  margin: 2px;
  font-size: 0.7rem;
  background: orange;
  color: black;
}

.yearLabel{
  border: 1px solid #fff;
  height: 1.5rem;
  width: 100%;
  margin: 2px;
  line-height: 1.5rem;
}

.dayEntryModal{
  position: fixed;
  width: 100vw;
  height: 100%;
  margin: 0;
  background: rgba(0,0,0,1);
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
}

#dayEntryModal.visible{
  display: block;
}

.dayEntryModal header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 20vh;
}

.dayEntryModal h1{
font-size: 2.5rem;
}

.btn-close{
  position: absolute;
  display: block;
  right: 4rem;
  top: 2rem;
  background: none;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

textarea{
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  resize: none;
  width: 60vw;
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.dayEntryModal .btn{
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.25em 0.5em;
}



/* QUESTIONAIRE */
.questionsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-main{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.questions-progress{
  margin: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.questions-question{
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.progress-dot{
  margin: 0;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
}

.progress-dot.active{
  background-color: rgba(255,255,255,1);
}

#question-dob input{
  font-size: 1.2rem;
}

#day{
  width: 1.5rem;
}

#month{
  width: 1.5rem;
}

#year{
  width: 3rem;
}

@media(max-width: 500px){
  textarea{
    width: 90vw;
  }
}

