/* VARIABLES */
:root{
  --main-bg-color: #9899A6;
  --secondary-bg-color: #D7D7D9;
  --main-text-color: #736B62;
  --secondary-text-color: #A69B92;
  --main-contrast: #A3A653;

}

/* GENERAL SETTINGS */
body{
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: var(--main-bg-color);
  color: #fff;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 5.5rem;
}


/* QUESTIONAIRE */
header{
  margin: 0 1rem;
}

.questionsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-question{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Name and password */
#question-profileName form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputField{
  width: 14rem;
  border-radius: 5px;
  padding: 0.25em;
  margin-bottom: 0.1em;
}

.createName.alreadyRegistered{
  border: 3px solid red;
}

.repeatPassword.doesNotMatch{
  border: 3px solid red;
}

.loginName{
  border: 3px solid var(--main-bg-color);
}

.loginName.incorrect{
  border: 3px solid red;
}

.loginPassword{
  border: 3px solid var(--main-bg-color);
}

.loginPassword.incorrect{
  border: 3px solid red;
}

/* Gender */
.questions-radiobuttons{
  width: 14.6rem;
  padding: 0.25em;
  margin: 0.25rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#question-gender form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radioOption{
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 1rem;
}

/* DOB */
#question-dob{
  width: 17rem;
  padding: 0.25em;
  margin: 0.25rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#question-dob .dropdown{
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.dateErrorMessage p{
  margin: 0.5em;
  font-size: 0.8rem;
  font-weight: 600;
}

/* Country */
#question-country{
  width: 14.6rem;
  padding: 0.25em;
  margin: 0.25rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#countryselect{
  margin-bottom: 1rem;
}

/* Profile login */
#profile-login{
  width: 14.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#profile-login form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.questions-btn{
  cursor: pointer;
  color: var(--main-text-color);
  width: 14.6rem;
  padding: 0.25em;
}

.questions-btn.active{
  color: black;
  background: var(--main-contrast);
  border: 2px solid var(--main-text-color);
}

.secondary-btn{
  margin-top: 5px;
  background: none;
  border: none;
  color: #fff;
  cursor:pointer;
}
.secondary-btn:hover{
  color:var(--main-text-color);
}

.secondary-btn.highlight{
  color: black;
  font-weight: 700;
}

/* PROFILES LIST */
#profileListContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 40vw;
  max-width: 500px;
}

.profileList{
margin: 0;
padding: 0;
list-style-type: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.profileListItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  width: 500px;
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 3px;
  padding: 0 0.5rem;
  cursor: pointer;
  background-color: var(--main-bg-color);
  border: 1px solid var(--secondary-bg-color);
  border-radius: 5px;
}

.profileListItem button{
  cursor: pointer;
background: none;
border: none;
font-weight: 100;
color: var(--secondary-bg-color);
}

.profileListItem button:hover{
color: var(--main-text-color);
}

.profileListHidenBtn{
  margin-bottom: 5px;
  background: none;
  border: none;
  color: #fff;
  cursor:pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* MAIN PAGE OF THE APPLICATION */
.topBar{
  position: fixed;
  top: -1vh;
  width: 100%;
  background-color: black;
}

/* Progress bar */
.mainProgress{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  width: 100vw;
  background-color: inherit;
}

.progressRemaining{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background: mediumseagreen;
  text-align: end;
  line-height: 2.5rem;
  font-size: 1.75rem;
  padding-right: 1.5rem;
}

.progressElapsed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background: magenta;
  text-align: start;
  line-height: 2.5rem;
  font-size: 1.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.progressElapsedDob{
  z-index: 2;
}

.progressExtra{
  height: 100%;
  width: 0%;
  background: cyan;
  text-align: end;
  line-height: 2.5rem;
  font-size: 1.75rem;
  padding-right: 0.5rem;
}

/* Stats: Name, expectancy, dob, last day */
.mainStats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #fff;
  height: 2rem;
  width: auto;
}

/* Controllers: Back to the login screen, go to a year */
.mainControllers{
display: flex;
height: 1.75rem;
flex-direction: row;
align-items: center;
justify-content: center;
}

#backToLoginContainer{
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
width: 50%;
}

#backToLoginBtn{
  background: none;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 50%;
}

.controllersYearSelectContainer{
  display: flex;
  flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
  width: 50%;
}

.controllersYearSelectContainer form{
  display: flex;
  flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
width: 100%;
}

#controllersYearSelect{
  width: 250px;
  background-color: black;
  color: white;
}

/* Main visualization of life */
.mainVisualization{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.yearLabel{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 1.5rem;
  width: 99vw;
  line-height: 1.5rem;
  margin-top: 0.25em;
}

.domYear{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yearBody{
  margin: 0 auto;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.day{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.7rem;
  border: 1px solid #fff;
  height: 1.5rem;
  width: 1.5rem;
  margin: 3px;
  font-size: 0.7rem;
  cursor: pointer;
}

.firstBirthday{
  background: cyan;
  color: black;
}

.today{
  background: red;
}

.hasEntry{
  border: 1px solid red;
}

.regularDay{
  background: #333;
}

.lastExpectedDay{
  background: purple;
}

.extraDay{
  background: darkslategray;
}

.monthLabel{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.7rem;
  border: 1px solid #fff;
  height: 1.5rem;
  width: 1.5rem;
  margin: 2px;
  font-size: 0.7rem;
  background: orange;
  color: black;
}

/* Day-entry modal */

.dayEntryModal{
  position: fixed;
  width: 100vw;
  height: 100%;
  margin: 0;
  background: rgba(0,0,0,1);
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
}

#dayEntryModal.visible{
  display: block;
}

.dayEntryModal header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 20vh;
}

.dayEntryModal h1{
font-size: 2.5rem;
}

.dayEntryModal main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.btn-close{
  position: absolute;
  display: block;
  right: 4rem;
  top: 2rem;
  background: none;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.dayEntryImage{
  width: 120px;
  height: auto;
}

.dayEntryImageBtn{
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.imageUrlInsertForm{
  display: none;
}

textarea{
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  resize: none;
  width: 60vw;
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.dayEntryModal .btn{
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.25em 0.5em;
}

.dayEntryModal .btn.disabled{
  color: #444;
  border: 1px solid #444;
}



/* QUESTIONAIRE */


.questions-main{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.questions-progress{
  margin: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.questions-question{
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.progress-dot{
  margin: 0;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
}

.progress-dot.active{
  background-color: rgba(255,255,255,1);
}

#question-dob input{
  font-size: 1.2rem;
}

#day{
  width: 1.5rem;
}

#month{
  width: 1.5rem;
}

#year{
  width: 3rem;
}

@media(max-width: 500px){
  textarea{
    width: 90vw;
  }
}

